services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "5000:5000"
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./server/document_storage:/app/document_storage
      - ./server/temp_uploads:/app/temp_uploads


  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - server
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

